# --- Flutter/Dart ---
**/build/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.melior_cache/

# --- iOS ---
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
*.moved-aside
DerivedData/
xcuserdata/

# --- Android ---
android/.gradle/
android/.idea/
android/app/build/
android/build/
*.iml

# --- macOS ---
macos/Flutter/ephemeral/
macos/Pods/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# --- Windows/Linux ---
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/
windows/build/
linux/build/

# --- VSCode/JetBrains IDEs ---
.vscode/
.idea/
*.swp

# --- Xcode, OS, Finder ---
.DS_Store
*.swp
*.lock
*.tmp
*.log

# --- Credentials or user info just in case ---
*.keystore
local.properties
.env